@font-face {
    font-family: dratewkafont;
    src: url(../data/font/PressStart2P.ttf);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#czolowka {
  display: block;
  width: 30%;
  margin: 0 auto;
}
#game
{
  display: none;
  font-size: 23px;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  font-family: dratewkafont;
  background-color: black;
  color: white;
  overflow: hidden;
  margin-top: 15px;
}
body
{
    box-sizing: border-box;
    height: 10vh;
    background-color: #484848;
}
#locationimg
{
  
    float: left;
    border: 4px solid white;
    margin-right: 50px;

}

#nothatway, #directions
{
   
    margin-top: 10px;
}
#images {
  display: flex;
  vertical-align: top;
  width: 50%;
  margin-left: 10%;
}
#compass
{
    
    margin-top: 10%;
    border: 0px;
    width: 256px;
    height: 120px;
    
   
}
#cmpmech {
    position: relative;
    display: inline-block;
  }

#cmpmech span {
    position: absolute;
    display: none;
    width: 50px; 
    height: 30px;
    background-color: black;
  }

  #north {
    
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  #south {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  #west {
    top: 40%;
    left: -8%;
    transform: translateY(-50%);
  }

  #east {
    top: 40%;
    right: -8%;
    transform: translateY(-50%) 
  }
#ginput, #whatnow, #dialogue {
    float: left;
}
#ginput {
  margin-left: 10px;

}
#cursor {
  width: 15px;
  height: 20px;
  background-color: white;
  float: left;
}
#newtext {
  margin: 10px;
}